.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile {
  display: flex;
  align-items: center;
  max-width: 300px;
  gap: 10px;
  border-radius: 100px;
  padding: 0.4em;
  background-color: var(--gray-two);
}
.avatar-image {
  width: 36px;
  border-radius: 50%;
}
.avatar-name {
  font-weight: 600;
  font-size: 0.88rem;
  line-height: 17px;
  margin-right: 1em;
}
