/* global styles here */
@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans:100,200,300,regular,500,600,700,800,900);
:root {
  --primary-green: #c8ee44;
  --secondary-green: #29a073;
  --background-one: #fff;
  --background-two: #fafafa;
  --background-three: #fafafa;
  --background-four: #e8e8e8;
  --background-five: #f8f8f8;
  --background-six: #fff;
  --backgroud-seven: #e4f1ff;
  --border-one: #f5f5f5;
  --dark: #363a3f;
  --dark-two: #201e34;
  --dark-three: #282541;
  --dark-four: #1e1c30;
  --light: #e5e5e5;
  --gray: #f8f8f8;
  --gray-one: #fafafa;
  --gray-two: #f8f8f8;
  --text-one: #1b212d;
  --text-two: #929eae;
  --color-scheme: default;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

html,
body,
#root,
.flex {
  height: 100vh;
}

.flex {
  display: flex;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
}

aside {
  width: 20%;
  background: var(--background-two);
  height: 100vh;
}
main {
  width: 80%;
  background: var(--background-two);
}
img {
  max-width: 100%;
  height: auto;
}

.dashboard-profile {
  display: flex;
  align-items: center;
  background: var(--gray-one);
  border-radius: 100px;
  padding: 0.5em 0;
  width: 60%;
  max-width: 300px;
  margin-bottom: 1em;
  align-self: flex-end;
  cursor: pointer;
}

.profile-picture-container {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 1em;
}

.profile-picture-container img {
  object-fit: cover;
}

.dashboard-profile-name {
  font-weight: 600;
  margin-right: auto;
}

.dashboard-profile-chevron {
  margin-right: 1em;
  width: 0.8rem;
  transform: rotate(90deg);
}
.logo {
  max-width: 100%;
  max-height: 30px;
  fill: var(--text-one);
}
.flex-dark {
  --text-one: #fff;
  --background-one: #1c1a2e;
  --background-two: #1e1c30;
  --background-three: #201e34;
  --background-four: #292642;
  --dark: #282541;
  --background-five: #282541;
  --background-six: #1b212d;
  --border-one: #282541;
  --color-scheme: dark;
}
