* {
  /* border: 1px solid blue; */
}
.settings-container {
  width: 95%;
  margin: 2em auto 0;
}
.account-information-container {
  margin-top: 40px;
  padding: 40px;
}
/* only applies to the first child (h3) of the class*/
.account-information-container > h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5em;
}
.account-information-container h3 {
  color: var(--text-one);
}
.account-information-container p {
  color: var(--text-two);
}
.personal-information-container {
  display: flex;
  max-width: 840px;
  justify-content: space-between;
  margin: 40px 0;
}
.account-information-container form {
  color: var(--text-two);
}
.account-information-container label {
  font-size: 0.88rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.account-information-container input {
  height: 48px;
  border-radius: 10px;
  border: 1px solid var(--border-one);
  padding: 10px;
  outline: none;
  line-height: 17px;
  letter-spacing: 1px;
  background: transparent;
  color: var(--text-one);
}
.form-row {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}
.input-container {
  width: 400px;
  display: flex;
  flex-direction: column;
}
.inputEmail-container {
  width: 840px;
  display: flex;
  flex-direction: column;
}
.edit-btn {
  display: flex;
  align-items: center;
  gap: 3px;
  border: 0;
  background: none;
  color: var(--secondary-green);
  font-size: 1.1rem;
}
.update-btn {
  background-color: var(--secondary-green);
  color: white;
  border: 0;
  min-height: 52px;
  width: 190px;
  border-radius: 10px;
  font-size: 1rem;
}
